.btn {
  display: inline-flex;
  padding: 10px 24px;

  font-weight: 500;
  line-height: 22px;
  color: $color-default-white;

  background-color: $color-medium-sea-green;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  padding: 0;
  border-radius: 50%;
  background-position: right bottom;
  &--small {
    width: 38px;
    height: 38px;
  }
  &--secondary {
    background-color: $color-coral;
    border: 3px solid $color-default-white;
  }
  @include vp-767 {
    width: 35px;
    height: 35px;
    svg {
      width: 17px;
      height: 17px;
    }
    &--small {
      width: 38px;
      height: 38px;
    }
  }
}
