.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 65px;
    font-weight: 700;
    color: $color-night-rider;
    em {
      font-style: normal;
      color: $color-atomic-tangerine;
    }
  }
  &__secondary-title {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $color-night-rider;
    a {
      color: $color-atomic-tangerine;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__info {
    margin-right: 50px;
    padding-left: 9px;
  }
  &__form {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  &__text-content {
    margin: 13px 0 30px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: $color-grey;
  }
  &__get-price {
    display: flex;
    align-items: center;
  }
  &__user-list {
    @include reset-list;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 12px;
    margin-left: 8px;
  }
  &__user {
    position: relative;
    margin-left: -15px;
  }
  &__user-img {
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid $color-default-white;
  }
  &__img {
    position: relative;
    flex-shrink: 0;
    padding-top: 9px;
    height: 557px;
    width: 462px;
  }
  @include vp-1279 {
    &__info {
      width: 50%;
      margin-right: 15px;
    }
  }
  @include vp-1023 {
    flex-direction: column;
    padding-top: 30px;
    &__title {
      font-size: 36px;
      line-height: 120%;
    }
    &__img {
      order: 1;
      margin: 0 auto;
      margin-bottom: 30px;
      padding-top: 0;
    }
    &__info {
      order: 2;
      width: 100%;
      margin-right: 0;
      padding-left: 0;
    }
  }
  @include vp-767 {
    padding-top: 40px;
    &__title {
      font-size: 28px;
    }
    &__img {
      width: 100%;
      min-width: 300px;
      height: auto;
    }
    &__img-picture {
      margin: 0 auto;
    }
    &__get-price {
      flex-direction: column;
    }
  }
}
